@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:ital,wght@0,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* variáveis para a paleta de cores */
    --cor-titulo: #4d4d4d;
    --cor-texto: #000;
    --cor-escura:#FFA600;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html {
    font-size: 16px;
}

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}

body,
h1,
h2,
p,
figure,
.menu {
    margin: 0;
    padding: 0;
}


.img{
    display:flex ;
    justify-content: center;
   width: 900px;
   height:;
}

h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

h1 a {

    color: var(--cor-clara);
    background-color: var(--cor-escura);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

header .limitador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
    z-index: 100;
}

nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;

}
 h1 a:hover,
nav a:focus,
.menu a:focus,
.menu a:hover {
    background-color: #67b106;
}

nav h2 a:hover,
nav a:focus,
.menu a:focus,
.menu a:hover {
    background-color: #67b106;
}

/* Regra de lista ul */
.menu {
    list-style: none;
    /* Usamos display none  para não exibir a lista  de links */
    display: none;
}

/* Regra para formatar links contidos  na lista */
.menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu.aberto {
    /* Seletor de classes combinadas 
    Esta regra  somente  irá  funcionar  quando  As duas classes  estiverem  aplicadas  juntas   no elemento  html no caso ,n a lista  de menu /links. 
    obs esta combinação sera possivesl  por meio  de manipulação programado co J\avaScript*/
    /* display flex  fara  alista de link aparecer */
    display: flex;
    /* link em forma de coluna vcertical */
    flex-direction: column;
    /* Usamos  as propriedades  de posicionamento  e coodenadas  para garatir  o encaixe  correto  abaixo do titulo e da palavra Menu */
    background-color: var(--cor-clara);

    position: absolute;
    /* Aplicamos um fundo  á  lista evitando  a dificuldade  de leitura  dos links */
    left: 0;
    right: 0;
}

.destaque {

    height: 88vh;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.destaque h2,
.destaque p {
    text-align: center;
    color: var(--cor-clara);

    animation-name: animaDestaque;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.destaque h2 {
    /* Função clamp(tamanho mínimo,
                      tamanho ideal,
                      tamanho maximo */
    font-size: clamp(3rem, 10vw, 7rem);

}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

/* Animação */
@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }

    to {
        opacity: 1;
    }

}

article h2 {
    padding: 1rem;
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
}

.front-end,
.historia,
.localizacao {
    text-align: center;

}

article p {
    padding: 20px;
    font-size: 1.2rem;
}

abbr {
    text-decoration: none;
}

address {
    font-style: normal;
}

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
}

.historia h2 {
    color: var(--cor-clara);
    text-shadow: red 3px 3px 10px;
}

.historia iframe {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.limitador {
    width: 95vw;
    margin: auto;

}

footer {
     background-color: #4d4d4d;
    
    color: var(--cor-clara);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

/* Regras para as página  */
.conteudo{
    background-color: var(--cor-intermediaria);
    padding: 0,5rem;
    border-radius: 8px;
}
.conteudo h2{
    padding-left: 0;
    font-size: 1.8rem;
    
   
}

.conteudo h2::before {content: "";}


.galeria {
    text-align: center;

}
.galeria img{
    border-radius: 100%;
    transform: scale(0.9);
    transition: 500ms;
    /* filter: blur(1px) brightness(150%);  */
}
/* Aplicamos  o :hover eo focus  ao seletor  de tags  "a" 
em vez de aplicar na "img" .Desta forma ,o acionamento funcionará  tanto com o mouse  quanto com teclado.*/
.galeria img:hover,.galeria img:focus{
    transition: scale(1);
    border-radius: 10%;
    filter: none;
}
/* formatação do formulário */
form{
    max-width: 500px;
    margin: auto;
    
}
input, select,textarea {
    border:none;
    padding: 4px;
    height: 40px;
    border-radius: 4px;

}
textarea{
    height: auto;
}

form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
label{
    font-size: 0.9rem;
    font-weight: bold;
    width: 30%;
}
/* Pseudo classe :not  permite  criar exceções para uma regera .
Neste exesmplo ,estamos aplicando 70% 
de largura para tudo (*) dentro do form div Exceto  label.*/

form div *:not(label) {
    width: 70%;
}
button{
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    border: none;
    font-weight: bold;
    padding: 1rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}
button:hover,button:focus {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
    box-shadow: var(--cor-escura) 0 0 2px;
}
#cep{width:60%;
}
#buscar{
    width: 39%;
    padding: 12px;
}
#status{font-size: 12px;}
h3{
    text-align: center;
    color: #FFA600;
}


@media (min-width:570px) {
    nav h2 {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu li {
        width: 100%;
    }

    nav {
        width: 70%;
    }

    .front-end img{
        height: 150px;
    }

}

@media (min-width:900px) {
    .limitador {
        max-width: 1000px;
    }

    html {
        font-size: 18px;
    }
}